@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
html,
body {
  font-family: "IBM Plex Sans", sans-serif;
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  background-color: #ffffff;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
  max-height: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.sections-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 3rem;
  padding: 6rem 2rem 2rem 2rem;
  max-width: 90%;
  margin: auto;
}

.section-item-img {
  width: 100%;
  height: 100%;
}
.section-item {
  position: relative;
  height: 111.8%;
  width: 100%;
  min-height: 295px;
  min-width: 418px;
}

.section-item:hover {
  outline: #094b00 3px solid;
  transform: scale(0.95);
}

.section-item:hover .section-item-title {
  opacity: 1;
}

.section-item-title {
  z-index: 100;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  bottom: 0%;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255, 0.6); /* Black see-through */
  color: #000000;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  line-height: 369px;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  padding: 0.5rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.nav-link {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #094b00;
}

.nav-link:hover {
  border-bottom: #094b00 3px solid;
}

.logo {
  width: 300px;
  height: 180px;
  justify-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.section-item-title-wrap {
  position: relative;
}

.form-h1 {
  font-weight: 600;
  font-size: 2.25rem;
}

.form-submit {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 2px solid black;
  font-weight: 600;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #000000;
  color: white;
}

.form-quote {
  font-size: 1.25rem;
  max-width: 60ch;
}

.form-name {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.form-name-input {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #f7f7f7;
  border: 1px solid rgb(167, 167, 167);
}

.form-name-container {
  flex-basis: 50%;
}
.form-input {
  background-color: #f7f7f7;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid rgb(167, 167, 167);
}

.form-name-sub {
  font-size: 0.85rem;
  color: #656565;
}

.form-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  row-gap: 2rem;
}

.form-label {
  font-weight: 600;
}
.form-textarea {
  background-color: #f7f7f7;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid rgb(167, 167, 167);
}

.section-wrap {
  display: flex;
  padding: 2rem 0 0 0;
  flex-direction: column;
  align-items: center;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #094b00;
}

.section-main {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.section-nav {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.section-nav-link {
  color: #094b00;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.section-nav-link:hover {
  background-color: #094b00;
  color: white;
  padding: 0.5rem;
}

.section-content-wrap {
  flex-basis: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: rgb(255, 255, 255) solid 1px;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(255, 255, 255);
  color: #094b00;
  list-style: none;
  padding: 1rem 2rem 1rem 2rem;
}

.nav-mobile {
  display: none;
  padding: 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99999;

  align-items: center;
}

.mobile-nav-logo {
  width: 130px;
  height: 80px;
}

.showMenu {
  transform: translateY(0);
}
.mobile {
  display: none;
}
@media screen and (max-width: 1250px) {
  .sections-wrap {
    max-width: 70%;
  }

  .form-wrap {
    max-width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .sections-wrap {
    max-width: 90%;
    column-gap: 1rem;
  }

  .nav {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .sections-wrap {
    max-width: 90%;
    grid-template-columns: 1fr;
  }

  .form-wrap {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .sections-wrap {
    max-width: 90%;
    grid-template-columns: 1fr;
  }

  .form-wrap {
    max-width: 100%;
  }

  .nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}